<main>
    <article>

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/monese.png" width="800" height="540" loading="lazy"
                class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                 

                  <h3 class="title-md">Mobile Application for Monese Bank</h3>

                  <p class="card-text">
                    In my role at Monese, I led the React Native team, implementing features like Mobile Money Accounts, virtual cards, fee-free foreign transactions,
                    and Google Pay integration, while ensuring robust QA with Detox and CI/CD with Azure DevOps. I also developed advanced finance management tools and real-time notifications,
                    enhancing user experience across iOS and Android.
                  </p>

                  <a href="https://apps.apple.com/us/app/monese-a-banking-alternative/id1102793407" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/projectHBL.png" width="800" height="540" loading="lazy"
                    class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

            

                  <h3 class="title-md">Mobile Application for HBL</h3>

                  <p class="card-text">
                    Utilized React, JavaScript, and TypeScript to develop secure, scalable banking applications at Teresol Pvt Ltd.
                    Designed clean UIs with TailWind/NativeWind and implemented features like mobile money accounts, virtual cards, and fee-free transactions.
                    Employed Detox, JEST, and RTL for robust testing, and optimized deployment using CI/CD with Bitrise.
                  </p>

                  <a href="https://play.google.com/store/apps/details?id=com.hbl.android.hblmobilebanking&hl=en_GB" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/primark.png" width="800" height="540" loading="lazy"
                   class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                 

                  <h3 class="title-md">Mobile Application for Primark Zing</h3>

                  <p class="card-text">
                    Led development of a social app with React Native, enhancing collaboration and engagement across iOS and Android. Implemented real-time communication,
                    responsive UI, native modules, and GraphQL for efficient data handling.
                    Optimized app performance with Redux, AsyncStorage, TurboModules, and Hermes, ensuring a seamless and engaging user experience.
                  </p>

                  <a href="https://play.google.com/store/apps/details?id=sociabble.mobile.primark&hl=en_GB" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            

          </ul>

        </div>
      </section>

    </article>
  </main>